:root {
  --font-size-base: 62.5%;

  /* 24px ~ 10px */
  --font-size-xxl: 2.4rem;
  --font-size-xl: 2rem;
  --font-size-lg: 1.8rem;
  --font-size-md: 1.6rem;
  --font-size-sm: 1.4rem;
  --font-size-xs: 1.2rem;
  --font-size-xxs: 1rem;

  --color-white: #fff;
  --color-black: #020715;
  --color-gray-01: #f0f0f0;
  --color-gray-02: #dddddd;
  --color-gray-03: #909090;
  --color-red: #e30000;
  --color-yellow: #fee500;
}
